{% extends 'base.html.twig' %}

{% block body %}
    <form action="/food/{{food.id}}" method="post">
        <label for="name">name</label><input id="name" type="text" name="name" value={{food.name}}>
        <label for="unitWeight">unit weight</label><input id="unitWeight" type="text" name="unitWeight" value={{food.unitWeight}}>
        <label for="calorie">calorie</label><input id="calorie" type="text" name="calorie" value={{food.calorie}}>
        <label for="protein">protein</label><input id="protein" type="text" name="protein" value={{food.protein}}>
        <label for="fat">fat</label><input id="fat" type="text" name="fat" value={{food.fat}}>
        <label for="carbohydrate">carbohydrate</label><input id="carbohydrate" type="text" name="carbohydrate" value={{food.carbohydrate}}>
        <input type="submit">
    </form>
{% endblock %}